<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gr.aueb.android.barista">

    <!-- Permission for Internet in order to use REST HTTP Client-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- todo add permision with adb-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>

